.about {
  padding-bottom: 110px;
  
  &__container {
    width: 90%;
    margin: 0 auto;
    
    @media (min-width:768px) {
      max-width: 1160px;
      width: 100%;
      padding: 0 20px;
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (min-width:768px) {
      display: flex;
      flex-direction: row;
      gap: 100px;
    }
  }

  .banner__img {
    display: none;
    
    @media (min-width:768px) {
      display: block;
    }
  }

  .banner__img-mobile {
    display: block;
    
    @media (min-width:768px) {
      display: none;
    }
  }

  &__title1 {
    padding-top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap:20px;
  }
}