.about {
    &__container {
      width: 90%;
      margin: 0 auto;
      @media (min-width: 375px) {
        max-width: 1160px;
        width: 100%;
        padding: 0 20px;
      }
    }
&__wrapper{
  display: flex;
  flex-direction: column;
  @media (min-width: 375px){
    display: flex;
    flex-direction: row;
  }
}
.banner__img{
  display: none;
  @media (min-width: 375px){
    display: block;
  }
}
.banner__img-mobile{
  display: block;
  @media (min-width: 375px){
    display: none;
  }
}
  .title1 {
    margin-left: 70px;
    padding-top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap:20px;
  }
}