.arrow-left,
.arrow-right {

    margin-top: 18%;


    @media screen and (max-width: 768px) {
        display: none;
    }
}


.carusel {
    margin-top: 5%;
    background-color: #eff4f2;

}

.carusel__shop {
    display: flex;
    max-width: 1160px;
    margin: 0 auto;
    padding: 30px 0;


    @media screen and (max-width: 768px) {
        background-color: white;

    }

}

.shop__column {
    display: flex;
    flex: 30%;
    margin: 0 40px;

    @media screen and (max-width: 768px) {
        width: 100%;
        display: grid;
        margin-top: 20px;
        margin: 0 5px;
        justify-content: center;

    }

}

.shop__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    flex: 33%;
    margin: 20px;
    padding: 0 50px;
    box-shadow: 0px 15px 10px 0px #dfdede;

    @media screen and (max-width: 768px) {
        border: solid #eff4f2;

        flex: 25%;
    }
}

.offer__title {
    text-align: center;
    padding: 20px 0;
    margin-top: 30px;

}

.offer__text {
    text-align: center;
    line-height: 24px;
    flex: 1 1 auto;
    padding: 10px;


}

.shop__button {
    display: block;
    margin-top: 20px;
    text-align: center;
    padding: 20px;
    margin: 50px 0;
}