.footer__container{

    @media (min-width: 768px) {
    display: grid;
    grid-template: min-content / min-content min-content 1fr;
    column-gap: 40px;
    max-width: 1141px;
    margin: 131px 179px 153px 200px;
    }

    @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 96px 6vw 60px 6vw;
    width: 88vw;
    }

    .footer__img {
        
        @media (min-width: 768px) {
            grid-area: 1 / 1 / 1 / 2;
            }

            @media (max-width: 768px) {
                display: none;
                }
        
    }

    .footer__img-mobile {

        @media (min-width: 768px) {
            display: none;
            }

            @media (max-width: 768px) {
                display: block;
                width: 86vw;
                margin-bottom: 40px;
                }
        
    }

    .footer__line {

        @media (min-width: 768px) {
        grid-area: 1 / 2 / 1 / 3;
            display: flex;
            align-items: center;
            width: 102px;
            height: 20px;
            border-bottom: 2px solid black;
    }
            @media (max-width: 768px) {
                display: none;
                }
    }

    .footer__info {
        grid-area: 1 / 3 / 1 / 4;
        width: 240px;
    }

    .footer__title {
        margin-bottom: 21px;
    }

    .footer__address {
        @media (min-width: 768px) {
        line-height: 2.5;
        }

            @media (max-width: 768px) {
                line-height: 3.5;
                text-align: center;
            }

    .footer__address-mobile-hidden {
            @media (max-width: 768px) {
                display: none;
            }
    }
    }

    .footer__mobile-button {
        @media (min-width: 768px) {
            display: none;
            }

            @media (max-width: 768px) {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 189px;
                height: 53px;
                margin-top: 15px;
                margin-left: 20px;
                color: #000000;
                background-color: #FFFFFF;
                border-radius: 5px;
                box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.17);
                font-family: 'Josefin Sans', sans-serif;
                font-style: normal;
                font-weight: 700;
                font-size: 16px;
                line-height: 16px;
                text-align: center;
            }
    }

    .footer__arrow {
        margin-left: 5px;
    }
}

.footer__copyright {
    text-align: center;
}