.promotion {
    padding-bottom: 64px;

    &__container {
        width: 90%;
        margin: 0 auto;

        @media (min-width:768px) {
            max-width: 1160px;
            width: 100%;
            padding: 0 20px;
        }
    }

    &__wrapper {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        gap: 30px;
    
        @media (min-width:768px) {
            display: flex;
            flex-direction: row;
            gap: 100px;
        }
    }
}

.coffee-info {
    display: flex;
    flex-direction: column;
    gap: 25px;
    
    &__title {
        @extend %tpltitlefont;
    }

    &__button {
        display: none;

        @media (min-width:768px) {
            display: block;
        }
    }

    &__text {
        @extend %tpltext;
    }

    &__img {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 410px;
        height: 276px;
        padding-left:72px;
        background-color: #E3EBE7;
    }

    &__subtitle {
        display: none;
    
        @media (min-width:768px) {
            display: block;
            height: 53px;
            margin-left: 67px;
            margin-top: -26px;
    
            transform: rotate(-90deg);
            transform-origin: left top;
            white-space: nowrap;
        }
    }
}