@charset "UTF-8";

.header__container {
  width: 90%;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .header__container {
    max-width: 1160px;
    width: 100%;
    padding: 0 20px;
  }
}

.header__menu {
  display: flex;
  justify-content: center;
}

@media (min-width: 768px) {
  .header__menu {
    justify-content: space-between;
    gap: 20px;
    padding-top: 36px;
    padding-bottom: 50px;
  }
}

.header__menu .logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 11px;
}

@media (min-width: 768px) {
  .header__menu .logo {
    max-width: 236px;
    gap: 13px;
  }
}

.header__menu .logo__text {
  font-family: "Cedarville Cursive", cursive;
  font-weight: 400;
  font-size: 32px;
  line-height: 2;
}

.header__menu .nav {
  display: none;
}

@media (min-width: 768px) {
  .header__menu .nav {
    width: 676px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.header__section {
  display: flex;
  justify-content: center;
  margin-top: 150px;
  text-align: center;
}

@media (min-width: 768px) {
  .header__section {
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin-top: 0;
    text-align: left;
  }
}

.header__section .headline {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

@media (min-width: 768px) {
  .header__section .headline {
    gap: 26px;
  }
}

.header__section .banner {
  display: none;
}

@media (min-width: 768px) {
  .header__section .banner {
    display: flex;
    align-items: flex-end;
  }

  .header__section .banner_rectangle {
    padding-bottom: 47px;
  }

  .header__section .banner__sm-links {
    height: 300px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 47px;
    margin-left: 40px;
  }
}

#menu__toggle {
  opacity: 0;
}

#menu__toggle:checked~.menu__btn>span {
  transform: rotate(45deg);
}

#menu__toggle:checked~.menu__btn>span::before {
  top: 0;
  transform: rotate(0);
}

#menu__toggle:checked~.menu__btn>span::after {
  top: 0;
  transform: rotate(90deg);
}

#menu__toggle:checked~.menu__box {
  visibility: visible;
  left: 0;
}

.menu__btn {
  display: flex;
  align-items: center;
  position: fixed;
  top: 20px;
  left: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}

.menu__btn>span,
.menu__btn>span::before,
.menu__btn>span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #616161;
  transition-duration: 0.25s;
}

.menu__btn>span::before {
  content: "";
  top: -8px;
}

.menu__btn>span::after {
  content: "";
  top: 8px;
}

.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  background-color: #ECEFF1;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
  transition-duration: 0.25s;
}

.menu__item {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: 0.25s;
}

.menu__item:hover {
  background-color: #CFD8DC;
}

@media (min-width: 768px) {
  .hamburger-menu {
    display: none;
  }
}

.coffee-info {
  position: absolute;
  width: 411px;
  height: 38px;
  left: 120px;
  top: 1239px;
}

h2 {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 38px;
  /* identical to box height */
  display: flex;
  align-items: center;
  color: #000000;
  /* использование переменной */
}

.coffee-info {
  position: absolute;
  width: 630px;
  height: 175px;
  left: 120px;
  top: 1302px;
}

.promotion__text {
  margin-top: 20px;
  font-family: "Alegreya Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 36px;
  /* or 189% */
  color: #444A4A;
  /* использование переменной */
}

.rectangle-button {
  position: relative;
  width: 240px;
  height: 54px;
  top: 30px;
  color: #444A4A;
  background-color: #2D635E;
  border: none;
  border-radius: 5px;
  padding: 12px 24px;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 0.01em;
}

.rectangle-button:before {
  content: "Order now";
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  align-items: center;
  text-align: center;
  transform: translate(-50%, -50%);
  color: #FFFFFF;
}

.rectangle-button:hover {
  background-color: #444A4A;
  color: #FFFFFF;
}

.background-rectangle {
  position: absolute;
  width: 500px;
  height: 280px;
  left: 950px;
  top: 40px;
  background-color: #E3EBE7;
}

.image-container {
  position: absolute;
  width: 240px;
  height: 320px;
  left: 1050px;
  right: 0;
  top: 20px;
  /* Secondary / Hard green */
  border-radius: 900px;
}

.image-container img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.title {
  position: absolute;
  width: 117px;
  height: 53px;
  left: 365px;
  top: 100px;
  font-family: "Cedarville Cursive";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 53px;
  color: #000000;
  opacity: 0.75;
  text-align: center;
  margin: 0;
  padding: 0;
  transform: rotate(-90deg);
  transform-origin: left top;
  white-space: nowrap;
}

/*# sourceMappingURL=styles.css.map */



.shop {
  display: flex;
  justify-content: center;
  height: 30%;
  width: 90%;
  margin: 0 auto;
  margin-top: 40%;


}

.cards {

  display: flex;
  justify-content: center;
  margin: 0;
  height: 30%;
  width: 70%;
  left: 5%;


}

.shop_offer {
  text-align: c1enter;
  justify-content: center;
  width: 40%;
  position: relative;



}

.shop__background {

  z-index: -1;
  position: absolute;
  width: 100%;
  height: 60%;
}

.shop_infocoffee {
  display: inline-grid;
  z-index: 2;
  justify-content: center;
  align-items: stretch;
  position: absolute;
  width: 12%;
  text-align: center;
  height: 30%;



}

.card_background {
  z-index: 0;
  position: relative;
}

.arrow-2,
.arrow-1 {
  cursor: pointer;
  height: 120px;
  width: 80px;
  position: relative;
  margin-top: 10%;

}

.arrow-2-top,
.arrow-2-bottom {
  background: #344c36;
  height: 10px;

  align-self: center;
  width: 50px;
}

.arrow-2-top {
  transform: rotate(45deg);
  transform-origin: bottom left;
}

.arrow-2-bottom {
  transform: rotate(-45deg);
  transform-origin: top left;
}

.arrow-2-top:hover,
.arrow-2-bottom:hover,
.arrow-1-top:hover,
.arrow-1-bottom:hover {
  background: black;
  transition: all 0s;
}


.arrow-1-top,
.arrow-1-bottom {
  background: #344c36;
  height: 10px;

  align-self: center;
  width: 50px;
}

.arrow-1-top {
  transform: rotate(45deg);
  transform-origin: bottom right;
}

.arrow-1-bottom {
  transform: rotate(-45deg);
  transform-origin: top right;
}