@charset "UTF-8";
.header__container {
  width: 90%;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .header__container {
    max-width: 1160px;
    width: 100%;
    padding: 0 20px;
  }
}
.header__menu {
  display: flex;
  justify-content: center;
}
@media (min-width: 768px) {
  .header__menu {
    justify-content: space-between;
    gap: 20px;
    padding-top: 36px;
    padding-bottom: 50px;
  }
}
.header__menu .logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 11px;
}
@media (min-width: 768px) {
  .header__menu .logo {
    max-width: 236px;
    gap: 13px;
  }
}
.header__menu .logo__text {
  font-family: "Cedarville Cursive", cursive;
  font-weight: 400;
  font-size: 32px;
  line-height: 2;
}
.header__menu .nav {
  display: none;
}
@media (min-width: 768px) {
  .header__menu .nav {
    width: 676px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.header__section {
  display: flex;
  justify-content: center;
  margin-top: 150px;
  text-align: center;
}
@media (min-width: 768px) {
  .header__section {
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin-top: 0;
    text-align: left;
  }
}
.header__section .headline {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
@media (min-width: 768px) {
  .header__section .headline {
    gap: 26px;
  }
}
.header__section .banner {
  display: none;
}
@media (min-width: 768px) {
  .header__section .banner {
    display: flex;
    align-items: flex-end;
  }
  .header__section .banner_rectangle {
    padding-bottom: 47px;
  }
  .header__section .banner__sm-links {
    height: 300px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 47px;
    margin-left: 40px;
  }
}

#menu__toggle {
  opacity: 0;
}

#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}

#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}

#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}

#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}

.menu__btn {
  display: flex;
  align-items: center;
  position: fixed;
  top: 20px;
  left: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #616161;
  transition-duration: 0.25s;
}

.menu__btn > span::before {
  content: "";
  top: -8px;
}

.menu__btn > span::after {
  content: "";
  top: 8px;
}

.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  background-color: #eceff1;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
  transition-duration: 0.25s;
}

.menu__item {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: 0.25s;
}

.menu__item:hover {
  background-color: #cfd8dc;
}

@media (min-width: 768px) {
  .hamburger-menu {
    display: none;
  }
}

.about__container {
  width: 90%;
  margin: 0 auto;
}
@media (min-width: 375px) {
  .about__container {
    max-width: 1160px;
    width: 100%;
    padding: 0 20px;
    display: flex;
    flex-direction: row;
    margin-top: 50px;
  }
}

.about__banner {
  position: relative;
}

.banner__text {
  position: absolute;
  font-family: "Cedarville Cursive";
  font-size: 28px;
  transform: rotate(-90deg);
  transform-origin: left 1px;
  top: 100px;
}

.title1 {
  margin-left: 45px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
}

.arrow-left,
.arrow-right {
  width: 0px;
  height: 0px;
  border: 40px solid transparent;
  border-top-color: rgb(52, 85, 45);
  color: #2d635e;
  margin: 0;
  padding: 0;
  float: left;
  margin-top: 10%;
}
.arrow-left:hover,
.arrow-right:hover {
  border-top-color: rgb(153, 58, 36);
}
.arrow-left::before,
.arrow-right::before {
  content: "";
  width: 0px;
  height: 0px;
  border: 30px solid transparent;
  border-top-color: #eff4f2;
  display: inline-block;
  transform: translate(-30px, -50px);
}
@media screen and (max-width: 768px) {
  .arrow-left,
  .arrow-right {
    display: none;
  }
}

.arrow-left {
  transform: rotate(90deg) translate(0px, 25px);
  -webkit-transform: rotate(90deg) translate(0px, 25px);
  -moz-transform: rotate(90deg) translate(0px, 25px);
  -o-transform: rotate(90deg) translate(0px, 25px);
  -ms-transform: rotate(90deg) translate(0px, 25px);
}

.arrow-right {
  transform: rotate(270deg) translate(0px, 25px);
  -webkit-transform: rotate(270deg) translate(0px, 25px);
  -moz-transform: rotate(270deg) translate(0px, 25px);
  -o-transform: rotate(270deg) translate(0px, 25px);
  -ms-transform: rotate(270deg) translate(0px, 25px);
}

.carusel {
  margin-top: 30%;
  background-color: #eff4f2;
}

.carusel__shop {
  display: flex;
  max-width: 1160px;
  margin: 0 auto;
  padding: 30px 0;
}
@media screen and (max-width: 768px) {
  .carusel__shop {
    background-color: white;
  }
}

.shop__column {
  display: flex;
  flex: 30%;
  margin: 0 40px;
}
@media screen and (max-width: 768px) {
  .shop__column {
    width: 100%;
    display: grid;
    margin-top: 20px;
    margin: 0 5px;
    justify-content: center;
  }
}

.shop__item {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  align-items: center;
  flex: 33%;
  margin: 20px;
  padding: 0 30px;
}
@media screen and (max-width: 768px) {
  .shop__item {
    border: solid #eff4f2;
    box-shadow: 0px 15px 10px 0px #dfdede;
    flex: 25%;
  }
}

.offer__title {
  text-align: center;
  padding: 20px 0;
}

.offer__text {
  text-align: center;
  line-height: 24px;
  flex: 1 1 auto;
}

.shop__button {
  display: block;
  margin-top: 20px;
  text-align: center;
  padding: 20px;
}

.shop__button,
.headline__button btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 235px;
  height: 54px;
  color: #ffffff;
  background-color: #2d635e;
  border-radius: 5px;
  font-family: "Josefin Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
}

.offer__text,
.title1__text2,
.title1__text1 {
  color: #444a4a;
  font-family: "Alegreya Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 36px;
}

.nav__button btn1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 135px;
  height: 43px;
  color: #ffffff;
  background-color: #2d635e;
  border-radius: 5px;
  text-align: center;
}

.nav__link {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
}

h1 {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 63px;
  line-height: 63px;
}

h4 {
  font-family: "Cedarville Cursive";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 53px;
}

.offer__title {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 28px;
}

.coffee-info {
  display: inline-block;
  width: 611px;
  height: 38px;
  margin-top: 150px;
}
@media only screen and (min-width: 768px) {
  .coffee-info .coffee-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1000px;
    height: 500px;
    margin: 150px auto 0;
  }
}

.coffee-info__image-container {
  display: flex;
  width: 240px;
  height: 320px;
  margin-top: -300px;
  margin-left: 990px;
  /* Secondary / Hard green */
  border-radius: 900px;
}

.coffee-info__image {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  margin-top: -390px;
  margin-left: 990px;
}

@media only screen and (min-width: 768px) {
  .coffee-info__image-container {
    width: 350px;
    height: 350px;
    margin-top: 0;
    margin-left: 0;
  }
}
.coffee-info__rectangle {
  display: flex;
  width: 510px;
  height: 280px;
  background-color: #e3ebe7;
  margin-left: 850px;
  margin-top: -300px;
}

.coffee-info__subtitle {
  display: flex;
  width: 117px;
  height: 53px;
  font-family: "Cedarville Cursive";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 53px;
  color: #000000;
  opacity: 0.75;
  text-align: center;
  margin-top: -500px;
  margin-left: 100px;
  transform: rotate(-90deg);
  transform-origin: left top;
  white-space: nowrap;
}
@media only screen and (min-width: 768px) {
  .coffee-info__subtitle .coffee-info__subtitle {
    display: none;
  }
}

.coffee-info__title {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 38px;
  /* identical to box height */
  display: flex;
  align-items: center;
  color: #000000;
  margin-left: 50px;
  margin-right: 0px;
  margin-top: 100px;
  /* использование переменной */
}

.coffee-info__text {
  display: flex;
  width: 615px;
  height: 75px;
  margin-top: 30px;
  margin-left: 50px;
  font-family: "Alegreya Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 36px;
  /* or 189% */
  color: #444a4a;
  /* использование переменной */
}

.coffee-info__button {
  display: flex;
  width: 240px;
  height: 54px;
  margin-top: 130px;
  margin-left: 50px;
  top: 30px;
  color: #444a4a;
  background-color: #2d635e;
  border: none;
  border-radius: 5px;
  padding: 12px 24px;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 0.01em;
}
.coffee-info__button:before {
  content: "Order now";
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding-left: 40px;
  padding-top: 5px;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: #ffffff;
}
.coffee-info__button:hover {
  background-color: #444a4a;
  color: #ffffff;
}
@media only screen and (min-width: 768px) {
  .coffee-info__button .coffee-info__button {
    display: none;
  }
} /*# sourceMappingURL=styles.css.map */
