$primary-color: #000000;


.coffee-info {
    position: absolute;
    width: 411px;
    height: 38px;
    left: 120px;
    top: 1239px;
}

h2 {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 38px;
    /* identical to box height */
    display: flex;
    align-items: center;
    color: $primary-color;
    /* использование переменной */
}

$secondary-color: #444A4A;

.coffee-info {
    position: absolute;
    width: 630px;
    height: 175px;
    left: 120px;
    top: 1302px;
}

p {
    margin-top: 20px;
    font-family: 'Alegreya Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 36px;
    /* or 189% */
    letter-spacing: 0.01em;
    color: $secondary-color;
    /* использование переменной */
}


.rectangle-button {
    position: relative;
    width: 240px;
    height: 54px;
    top: 30px;
    color: #444A4A;
    background-color: #2D635E;
    border: none;
    border-radius: 5px;
    padding: 12px 24px;
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0.01em;

    &:before {
        content: "Order now";
        display: flex;
        position: absolute;
        top: 50%;
        left: 50%;
        font-weight: 400;
        font-size: 20px;
        line-height: 25px;

        align-items: center;
        text-align: center;
        transform: translate(-50%, -50%);
        color: #FFFFFF;
    }
}

&:hover {
    background-color: #444A4A;
    color: #FFFFFF;
}

.background-rectangle {
    position: absolute;
    width: 500px;
    height: 280px;
    left: 950px;
    top: 40px;
    background-color: #E3EBE7;
}

.image-container {
    position: absolute;
    width: 240px;
    height: 320px;
    left: 1050px;
    right: 0;
    top: 20px;

    /* Secondary / Hard green */

    border-radius: 900px;

    img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.title {
    position: absolute;
    width: 117px;
    height: 53px;
    left: 365px;
    top: 100px;
    font-family: 'Cedarville Cursive';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 53px;
    color: #000000;
    opacity: 0.75;
    text-align: center;
    margin: 0;
    padding: 0;
    transform: rotate(-90deg);
    transform-origin: left top;
    white-space: nowrap;
}